.header-color{
	background-color: lightblue;
	height: 2.6em;
}
.footer-bottom {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}
.footer-color{
	background-color: #ececed;
}
.footer-height{
	height: 8em;
}
.font-footer-icon{
	color: #929292;
}
.emp-container{
	padding: 6em;
}
