<div class="container-item emp-container" ng-controller="homeController" id="homePage">    
    <a class="brand " href="#/add">
      <input type="button" value="Add Employee">
    </a> 
     <form>
       <div class="form-group">
         <div class="input-group">
           <div class="input-group-addon"><i class="fa fa-search"></i></div>
           <input type="text" class="form-control" placeholder="Search Name/City" ng-model="filterText">
         </div>      
       </div>
     </form>
     
     <table class="table table-bordered table-striped">
       
       <thead>
         <tr>
           <td>
             <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
               Id 
               <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
             </a>
           </td>
           <td>
             <a href="#" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
             Name
               <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
             </a>
           </td>
           <td>
             <a href="#" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
             Phone 
               <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
             </a>
           </td>
           <td>
             <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
               City 
               <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
             </a>
           </td>
           <td>
             <a href="#" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
             Address 1
               <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
             </a>
           </td>
           <td>
             <a href="#" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
             Address 2 
               <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
             </a>
           </td>
           <td>
             <a href="#" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
             Postal Code 
               <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
               <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
             </a>
           </td>
         </tr>
       </thead>
       
       <tbody>
         <tr ng-repeat="data in empData | orderBy:sortType:sortReverse | myTableFilter:filterText">
           <td>{{ data.id }}</td>
           <td>{{ data.name }}</td>
           <td>{{ data.phone }}</td>
           <td>{{ data.address.city }}</td>
           <td>{{ data.address.address_line1 }}</td>
           <td>{{ data.address.address_line2 }}</td>
           <td>{{ data.address.postal_code }}</td>
         </tr>
       </tbody>
     </table>

</div>
